In [18]:
import pandas as pd
import seaborn as sns
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/raw/mpg.csv")
df.shape #1개씩 찾아보기
df.index
df.values
df.dtypes
df.head(2) #head를 통해 일부만 가져오기
df.tail() #tail

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320