In [11]:
import pandas as pd
import seaborn as sns
import random
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/raw/mpg.csv")
df.shape #1개씩 찾아보기
df.index
df.values
df.dtypes
df.head(2) #head를 통해 일부만 가져오기
df.tail() #tail
df.sample(3) #sample을 통해 일부만 가져오기(실행할 때 마다 랜덤값 생성)
df.sample(3,random_state=42)
df.info() #요약정보 보기
df.isnull() #결측치 수 확인
df.isnull().sum()
df.isnull().mean() #결측치 비율 확인
df.describe() #기술통계 확인
df.describe(include='object') #object값 요약
df["mpg"] #mpg값만 보기
type(df["mpg"]) #mpg를 가져왔을때 판다스의 타입은 serides형태
df[["origin","name"]]# 데이터를 리스트 형태로 묶어주어야 함
df[["name"]] #대괄호 하나일 때 1차원, 2개일 때 2차원
df.loc[[0,1]] #loc는 행을 가져온다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320