In [24]:
import pandas as pd
import seaborn as sns
import random
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/raw/mpg.csv")
df.shape #1개씩 찾아보기
df.index
df.values
df.dtypes
df.head(2) #head를 통해 일부만 가져오기
df.tail() #tail
df.sample(3) #sample을 통해 일부만 가져오기(실행할 때 마다 랜덤값 생성)
df.sample(3,random_state=42)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
198,33.0,4,91.0,53,1795,17.4,76,3,honda civic
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
33,19.0,6,232.0,100,2634,13.0,71,1,amc gremlin