In [10]:
from pandas import Series
import numpy as np
data = [1000,2000,3000]
index = ["메로나","구구콘","하겐다즈"]
s = Series(data,index)
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [1]:
from pandas import Series
import numpy as np

data = [1000,2000,3000]
index = ["메로나","구구콘","하겐다즈"]
s = Series(data=data, index = index)

print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [3]:
from pandas import Series
import numpy as np

철수 = Series([10,20,30], index=['naver','skt','kt'])
영희 = Series([10,30,20], index=['skt','kt','naver'])
가족 = 철수 + 영희
print(가족)

kt       60
naver    30
skt      30
dtype: int64

In [5]:
from pandas import DataFrame

data = {
    '종목코드':['000000','000001','000002'],
    '종목명':['과학','수학','영어'],
    '현재가':[1000,2000,3000]
}
df = DataFrame(data)
print(df)

     종목코드 종목명   현재가
0  000000  과학  1000
1  000001  수학  2000
2  000002  영어  3000

In [10]:
from pandas import DataFrame

data = [
    {'종목코드':'000000','종목명':'과학','현재가':100},
    {'종목코드':'000001','종목명':'수학','현재가':200},
    {'종목코드':'000002','종목명':'영어','현재가':300}
]
columns = ['종목코드','종목명','현재가']
df = DataFrame(data=data)
print(df)

     종목코드 종목명  현재가
0  000000  과학  100
1  000001  수학  200
2  000002  영어  300

In [4]:
import pandas as pd

df13 = pd.read_excel('C:/Users/rlaeo/OneDrive/바탕 화면/새 폴더 (3)/20210913.xlsx',index_col=0)
df14 = pd.read_excel('C:/Users/rlaeo/OneDrive/바탕 화면/새 폴더 (3)/20210914.xlsx',index_col=0)

idx = df14.index.difference(df13.index)
print(idx)
print(df14.loc[idx[0],'종목명'])

Index(['395400'], dtype='object', name='종목코드')

In [6]:
전일비교시가총액 = df13['시가총액'].sum()
print(전일비교시가총액)

2264159333328919

In [9]:
idx = df14.index.intersection(df13.index)
t13 = df13.loc[idx]
t14 = df14.loc[idx]
cond = t13['상장주식수'] != t14['상장주식수']
print(cond.all())

False

In [11]:
print(t14.loc[cond,'상장주식수']-t13.loc[cond,'상장주식수'])

종목코드
001570    499996
011930      5661
Name: 상장주식수, dtype: int64

In [15]:
import pandas as pd
df13 = pd.read_excel('C:/Users/rlaeo/OneDrive/바탕 화면/새 폴더 (3)/20210913.xlsx',index_col=0)
df14 = pd.read_excel('C:/Users/rlaeo/OneDrive/바탕 화면/새 폴더 (3)/20210914.xlsx',index_col=0)
df = df13[['종목명','종가','시가총액']]

In [23]:
df = [pd.read_excel('C:/Users/rlaeo/OneDrive/바탕 화면/새 폴더 (3)/20210913.xlsx',index_col=0,usecols=[0,1,2,10])]
print(df)

[            종목명      종가           시가총액
종목코드
095570   AJ네트웍스    5830   272973979850
006840    AK홀딩스   27150   359671281150
027410      BGF    6250   598229943750
282330   BGF리테일  179000  3093819174000
138930  BNK금융지주    7970  2597703910620
...         ...     ...            ...
069260      휴켐스   27200  1111897593600
000540     흥국화재    4010   257613006450
000547  흥국화재2우B   28850     4431360000
000545    흥국화재우    9600     7372800000
003280     흥아해운    1035   247494403980

[936 rows x 3 columns]]

In [26]:
df13['비중'] = df13['시가총액']/df13['시가총액'].sum()*100
df13.sort_values('비중',ascending=False).head()

,종목명,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,비중
종목코드,,,,,,,,,,,,
005930,삼성전자,76300,1000,1.33,75200,76300,75100,11397775,865368373800,455494408565000,5969782550,20.117595
000660,SK하이닉스,106500,1500,1.43,105000,107000,104000,1923344,203945798000,77532251872500,728002365,3.424328
035420,NAVER,408000,-2000,-0.49,405000,414000,402500,771749,314256083500,67019465160000,164263395,2.960015
207940,삼성바이오로직스,913000,-12000,-1.30,920000,929000,908000,45749,41901716000,60408645000000,66165000,2.668039
005935,삼성전자우,70800,100,0.14,70700,71000,70200,1339343,94539308400,58260378360000,822886700,2.573157
...,...,...,...,...,...,...,...,...,...,...,...,...
001527,동양2우B,16400,250,1.55,16700,17000,16250,3425,57544550,5060531600,308569,0.000224
002787,진흥기업2우B,16050,-450,-2.73,16500,16500,15750,2084,33606150,4731668400,294808,0.000209
000547,흥국화재2우B,28850,-200,-0.69,28750,28850,28700,609,17592750,4431360000,153600,0.000196
009275,신원우,47400,0,0.00,47050,47500,47000,623,29415250,4301076000,90740,0.000190
001529,동양3우B,41600,300,0.73,41300,42850,40800,1250,51762550,3732435200,89722,0.000165