In [3]:
import numpy as np
from numpy.linalg import inv,qr
import random
import matplotlib.pyplot as plt
import pandas as pd

a = pd.DataFrame({'id':[100,200,300,400],'name':['aaa','bbb','ccc','ddd'],'math':[20,30,40,50],'eng':[60,70,80,90]})
a.set_index('id',inplace=True)
a

    name  math  eng
id
100  aaa    20   60
200  bbb    30   70
300  ccc    40   80
400  ddd    50   90