In [3]:
import pymysql
import pandas as pd
from IPython.display import display, clear_output
from ipywidgets import Dropdown

connect = pymysql.connect(host='127.0.0.1', user='root', password='0000', db='practice', charset='utf8')
cur = connect.cursor()

test = "SELECT * FROM practice.m_area;"
test1 = "SELECT * FROM practice.m_store;"
query = "SELECT * FROM practice.tbl_order_202104;"
query1 = "SELECT * FROM practice.tbl_order_202105;"
query2 = "SELECT * FROM practice.tbl_order_202106;"

cur.execute(test)
test = pd.DataFrame(cur.fetchall())
test.columns = ['area_cd', 'wide_area', 'narrow_area']

cur.execute(test1)
test1 = pd.DataFrame(cur.fetchall())
test1.columns = ['store_id', 'store_name', 'area_cd']

cur.execute(query)
data = pd.DataFrame(cur.fetchall())
data.columns = ['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
                'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount', 'status']

cur.execute(query1)
data1 = pd.DataFrame(cur.fetchall())
data1.columns = ['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
                 'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount', 'status']

cur.execute(query2)
data2 = pd.DataFrame(cur.fetchall())
data2.columns = ['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
                 'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount', 'status']

order_data = pd.merge(test, test1, on='area_cd', how='left')
all = pd.concat([data,data1,data2],ignore_index=True)
all = pd.merge(all,order_data,on='store_id',how='left')
test1

     store_id store_name area_cd
0           1      삼일대로점      SL
1           2      세종대로점      SL
2           3       무교로점      SL
3           4      덕수궁길점      SL
4           5      서소문로점      SL
..        ...        ...     ...
192       193       방죽로점      GB
193       194      일산동구점      GB
194       195       화중로점      GB
195       196       석봉로점      GB
196       999       보수담당      SL

[197 rows x 3 columns]

In [4]:

def order_by_store(val):
    clear_output()
    display(dropdown)
    pick_data = all.loc[(all['store_name']==val['new'])&
                               (all['status'].isin([1,2]))]
    display(pick_data.head())

store_list = test1['store_name'].tolist()

dropdown = Dropdown(options=store_list,description='지역 선택:')
dropdown.observe(order_by_store, names='value')
display(dropdown)

Dropdown(description='지역 선택:', index=2, options=('삼일대로점', '세종대로점', '무교로점', '덕수궁길점', '서소문로점', '청계청로점', '노해로점', …

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,area_cd,wide_area,narrow_area,store_name
348,86786966,3,C53542553,30,41286765,2021-04-01 11:26,2021-04-01 12:02,0,19000,2,SL,서울,서울,무교로점
449,96550218,3,C75719805,85,34901884,2021-04-01 11:33,2021-04-01 12:05,0,29870,2,SL,서울,서울,무교로점
777,70396651,3,C91220594,49,68701272,2021-04-01 12:02,2021-04-01 12:31,0,9390,2,SL,서울,서울,무교로점
1742,61006877,3,C99637930,42,96913554,2021-04-01 13:29,2021-04-01 13:46,0,19270,2,SL,서울,서울,무교로점
2079,70079672,3,C82802183,59,33211006,2021-04-01 13:58,2021-04-01 14:24,1,18820,1,SL,서울,서울,무교로점