In [31]:
import pymysql
import pandas as pd

connect = pymysql.connect(host='127.0.0.1', user='root', password='0000', db='practice',\
                          charset='utf8')
cur = connect.cursor()

query = "SELECT * FROM practice.tbl_order_202104;"
cur.execute(query)
connect.commit()
datas = cur.fetchall()
data = pd.DataFrame(datas)
data.columns= ['order_id','store_id','customer_id','coupon_cd','sales_detail_id',
               'order_accept_date','delivered_date','takeout_flag','total_amount','status']
data.groupby(['status']).count()

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount
status,,,,,,,,,
1,44357,44357,44357,44357,44357,44357,44357,44357,44357
2,132118,132118,132118,132118,132118,132118,132118,132118,132118
9,39705,39705,39705,39705,39705,39705,39705,39705,39705