In [30]:
import pymysql
import pandas as pd

connect = pymysql.connect(host='127.0.0.1', user='root', password='0000', db='practice', charset='utf8')
cur = connect.cursor()

test = "SELECT * FROM practice.m_area;"
test1 = "SELECT * FROM practice.m_store;"
query = "SELECT * FROM practice.tbl_order_202104;"
query1 = "SELECT * FROM practice.tbl_order_202105;"
query2 = "SELECT * FROM practice.tbl_order_202106;"

cur.execute(test)
test = pd.DataFrame(cur.fetchall())
test.columns = ['area_cd', 'wide_area', 'narrow_area']

cur.execute(test1)
test1 = pd.DataFrame(cur.fetchall())
test1.columns = ['store_id', 'store_name', 'area_cd']

cur.execute(query)
data = pd.DataFrame(cur.fetchall())
data.columns = ['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
                'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount', 'status']

cur.execute(query1)
data1 = pd.DataFrame(cur.fetchall())
data1.columns = ['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
                 'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount', 'status']

cur.execute(query2)
data2 = pd.DataFrame(cur.fetchall())
data2.columns = ['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
                 'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount', 'status']

order_data = pd.merge(test, test1, on='area_cd', how='left')
all = pd.concat([data,data1,data2],ignore_index=True)
all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2
...,...,...,...,...,...,...,...,...,...,...
506491,98816121,185,C40062806,93,85969769,2021-06-23 18:15,2021-06-23 19:04,1,23120,9
506492,3742971,122,C50603754,13,17470547,2021-06-23 18:15,2021-06-23 18:24,1,46240,1
506493,40959820,119,C97547347,74,93884882,2021-06-23 18:15,2021-06-23 18:57,0,38650,2
506494,52250483,191,C45463200,76,32019267,2021-06-23 18:15,2021-06-23 18:25,0,39010,2
506495,40772612,173,C51986662,70,57577518,2021-06-23 18:15,2021-06-23 18:25,0,28270,2