In [12]:
import pymysql

connect = pymysql.connect(host='127.0.0.1', user='root', password='0000', db='practice',\
                          charset='utf8')
cur = connect.cursor()

query = "SELECT * FROM m_area"
cur.execute(query)
connect.commit()
datas = cur.fetchall()
for data in datas:
    print(data)

('SL', '서울', '서울')
('BS', '부산', '부산')
('DJ', '대전', '대전')
('GJ', '광주', '광주')
('SJ', '세종', '세종')
('GN', '경기', '경기남부')
('GB', '경기', '경기북부')