In [18]:
import pymysql
import pandas as pd

connect = pymysql.connect(host='127.0.0.1', user='root', password='0000', db='practice', charset='utf8')
cur = connect.cursor()

query = "SELECT * FROM practice.tbl_order_202104;"
query1 = "SELECT * FROM practice.tbl_order_202105;"
query2 = "SELECT * FROM practice.tbl_order_202106;"

cur.execute(query)
data = pd.DataFrame(cur.fetchall())
data.columns = ['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
                'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount', 'status']

cur.execute(query1)
data1 = pd.DataFrame(cur.fetchall())
data1.columns = ['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
                 'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount', 'status']

cur.execute(query2)
data2 = pd.DataFrame(cur.fetchall())
data2.columns = ['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
                 'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount', 'status']

data1

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,84536666,16,C09876770,89,98297032,2021-06-23 18:15,2021-06-23 18:28,0,27500,2
1,71307500,3,C64758800,35,36275656,2021-05-01 11:00,2021-05-01 11:23,0,32340,2
2,88276008,158,C64758800,35,36275656,2021-06-23 18:16,2021-06-23 18:39,0,27500,9
3,43153589,13,C27945194,21,42125655,2021-06-23 18:16,2021-06-23 18:43,0,9390,2
4,60712382,175,C91539876,44,89071483,2021-05-01 11:00,2021-05-01 11:27,0,38650,2
...,...,...,...,...,...,...,...,...,...,...
114024,74118292,126,C38746642,43,50807591,2021-06-30 21:58,2021-06-30 22:12,0,26150,2
114025,33290611,116,C83096347,59,91424716,2021-06-30 21:58,2021-05-08 15:15,0,30420,9
114026,64938765,32,C99664920,21,91424716,2021-06-30 21:58,2021-06-30 22:31,1,35020,1
114027,84666999,97,C55599659,94,99820440,2021-06-30 21:58,2021-06-30 22:41,0,26150,9
114028,4709977,27,C74495537,94,99820440,2021-06-30 21:58,2021-06-30 22:41,0,23120,2