In [1]:
import pandas as pd
import os
store = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/m_store.csv')
area = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/m_area.csv')
order4 = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/tbl_order_202104.csv')
order5 = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/tbl_order_202105.csv')
order6 = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/tbl_order_202106.csv')

In [6]:
from IPython.display import display, clear_output
from ipywidgets import Dropdown

order_data = pd.merge(order4,store,on='store_id',how='left')
order_data = pd.merge(order_data,area,on='area_cd',how='left')

order_data.loc[order_data['takeout_flag']==0,'takeout_name']='delivery'
order_data.loc[order_data['takeout_flag']==1,'takeout_name']='takeout'

order_data.loc[order_data['status']==0,'status_name'] = '주문 접수'
order_data.loc[order_data['status']==1,'status_name'] = '결제 완료'
order_data.loc[order_data['status']==2,'status_name'] = '배달 완료'
order_data.loc[order_data['status']==9,'status_name'] = '주문 취소'

def order_by_store(val):
    clear_output()
    display(dropdown)
    pick_data = order_data.loc[(order_data['store_name']==val['new'])&
                               (order_data['status'].isin([1,2]))]
    display(pick_data.head())

store_list = store['store_name'].tolist()

dropdown = Dropdown(options=store_list,description='지역 선택:')
dropdown.observe(order_by_store, names='value')
display(dropdown)

Dropdown(description='지역 선택:', index=3, options=('삼일대로점', '세종대로점', '무교로점', '덕수궁길점', '서소문로점', '청계청로점', '노해로점', …

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
316,75209408,4,C83052374,13,29558184,2021-04-01 11:24,2021-04-01 12:12,0,24710,2,덕수궁길점,SL,서울,서울,delivery,배달 완료
369,4329119,4,C22457156,27,35295796,2021-04-01 11:27,2021-04-01 11:56,0,29870,2,덕수궁길점,SL,서울,서울,delivery,배달 완료
730,82419352,4,C16081799,54,95234213,2021-04-01 11:57,2021-04-01 12:38,0,32340,2,덕수궁길점,SL,서울,서울,delivery,배달 완료
908,98656061,4,C85288501,8,27120916,2021-04-01 12:14,2021-04-01 13:00,1,21120,1,덕수궁길점,SL,서울,서울,takeout,결제 완료
1113,54302915,4,C93030586,25,7159120,2021-04-01 12:32,2021-04-01 12:47,0,26770,2,덕수궁길점,SL,서울,서울,delivery,배달 완료