In [16]:
import pandas as pd
import os
store = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/m_store.csv')
area = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/m_area.csv')
order4 = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/tbl_order_202104.csv')
order5 = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/tbl_order_202105.csv')
all = pd.read_csv('C:/Users/rlaeo/OneDrive/바탕 화면/머신러닝/챕터1/tbl_order_202105.csv')

In [17]:
order_all = pd.concat([order4,order5],ignore_index=True)#ignor_index는 인덱스 번호를 0부터 다시 쓰는 것
current = os.getcwd() #현재 디렉토리 확인

In [18]:
order_all.isnull().sum() #결손치 확인
order_all.describe() #통계량 확인
order_data = order_all.loc[order_all['store_id'] != 999] #불필요 데이터 제거

In [19]:
order_data = pd.merge(order_data,store,on='store_id',how='left') #데이터 결합
order_data = pd.merge(order_data,area,on="area_cd",how='left')
order_data.loc[order_data['takeout_flag']==0,'takeout_name'] = 'delivery' #마스터 생성
order_data.loc[order_data['takeout_flag']==1,'takeout_name'] = 'takeout'
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1,자양로점,SL,서울,서울,takeout
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2,가마산로2점,SL,서울,서울,delivery
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9,화중로점,GB,경기,경기북부,delivery
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2,분포로점,BS,부산,부산,delivery
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2,하남산단점,GJ,광주,광주,delivery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471844,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2,중앙대로점,BS,부산,부산,delivery
471845,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2,용아로점,GJ,광주,광주,delivery
471846,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2,시흥대로점,SL,서울,서울,delivery
471847,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2,국제금융로점,SL,서울,서울,delivery
471848,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2,문예회관길점,SJ,세종,세종,delivery

In [20]:
output_dir = os.path.join(current,'output_data')
os.makedirs(output_dir,exist_ok=True)
output_file=os.path.join(output_dir,'order_data.csv')
order_data.to_csv(output_file,index=False)