In [26]:
import pandas as pd
from numpy import nan as NA
import numpy as np

data = pd.Series([1,NA,3.4,NA,7])
data.dropna() #누락치 제거

0    1.0
2    3.4
4    7.0
dtype: float64

In [27]:
data = pd.DataFrame([[1.,6.5,3.],[1,NA,NA],[NA,NA,NA],[NA,6.5,3.]])
clean = data.dropna()
print(clean)
clean1 = data.dropna(how='all')#전체가 nan일때
print(clean1)
data[4] = NA
data.dropna(axis=1,how='all') #컬럼을 제외시키기

     0    1    2
0  1.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [34]:
df = pd.DataFrame(np.random.randn(7,3))
df.iloc[:4, 1]= NA #:4번째 행, 1번째 컬럼
df.iloc[:2,2] = NA
df.dropna(thresh=2) #몇개의 이상값이 있는지 알아보기

          0         1         2
2  2.194483       NaN  0.093756
3 -2.999462       NaN  0.324197
4  2.196376 -0.883961  0.129199
5  0.555760  0.415758 -1.205311
6  0.914344 -1.238222 -0.695617

In [36]:
df.fillna(0)#결측치를 채우고싶을때 사용
df.fillna({1:0.5,2:0}) #원하는 값으로 채우기

          0         1         2
0  0.128539  0.500000  0.000000
1 -0.600678  0.500000  0.000000
2  2.194483  0.500000  0.093756
3 -2.999462  0.500000  0.324197
4  2.196376 -0.883961  0.129199
5  0.555760  0.415758 -1.205311
6  0.914344 -1.238222 -0.695617