In [7]:
import numpy as np 
import pandas as pd
import os
import scipy.stats as ss
import matplotlib.pyplot as plt
import tensorflow as tf
import sklearn
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from scipy.stats import f_oneway
import pandas as pd
import datetime
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [8]:
import tensorflow as tf
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
  # 텐서플로가 첫 번째 GPU에 1GB 메모리만 할당하도록 제한
  try:
    tf.config.experimental.set_virtual_device_configuration(
        gpus[0],
        [tf.config.experimental.VirtualDeviceConfiguration(memory_limit=1024)])
  except RuntimeError as e:
    # 프로그램 시작시에 가상 장치가 설정되어야만 합니다
    print(e)

In [9]:
# 데이터 불러오기
past_sales = pd.read_csv('C:/Users/11/Desktop/rossmann.csv')
store = pd.read_csv('C:/Users/11/Desktop/store.csv')
# 데이터 제거
store = store.drop(['CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'], axis=1)

# 데이터 병합
data = pd.merge(left = past_sales,right = store, on = 'Store', how = 'right')

# 날짜
data['Date'] = pd.to_datetime(data['Date'], format="%Y-%m-%d")
data['Month']=pd.DatetimeIndex(data.Date).month
data['Day']=pd.DatetimeIndex(data.Date).day
data = data.drop(['Date'],axis=1)

# 데이터 가공 : StateHoliday
data['StateHoliday'] = data['StateHoliday'].replace({0:'d'}) # 0 값은 d로 대체
data['StateHoliday'] = data['StateHoliday'].replace({'0':'d'})# 0 값은 d로 대체


# 결측값 처리
data = data.dropna(axis=0)

# store 이름 제거
data = data.drop(['Store'],axis=1)

# 데이터 분리(수치형, 범주형)
digital_cols = ['Sales', 'Customers', 'CompetitionDistance', 'Month', 'Day']
digital_data = data[digital_cols]
digital_data = pd.DataFrame(digital_data.values, columns = digital_cols)

# 표준화
scaler = StandardScaler().fit(digital_data)
digital_data = pd.DataFrame(scaler.transform(digital_data),index = digital_data.index, columns = digital_cols)

categorey_clos = data.columns.drop(digital_cols)
categorey_data = data[categorey_clos]
categorey_data = pd.DataFrame(categorey_data.values, columns = categorey_clos)

# 인코딩
onehotencoding_cols = ['StateHoliday', 'StoreType', 'Assortment', 'DayOfWeek']
categorey_data = pd.get_dummies(data = categorey_data, columns = onehotencoding_cols)

# 데이터 병합
data = pd.concat([digital_data, categorey_data], axis = 1)

# 형 통일
data = data.astype({'Promo2':'int', 'StateHoliday_b':'int', 'StateHoliday_c':'int', 'StateHoliday_d':'int', 'StoreType_a':'int', 'StoreType_b':'int', 'StoreType_c':'int', 'StoreType_d':'int'})
data = data.astype({'Assortment_a':'int', 'Assortment_b':'int', 'Assortment_c':'int', 'DayOfWeek_1':'int', 'DayOfWeek_2':'int', 'DayOfWeek_3':'int', 'DayOfWeek_4':'int', 'DayOfWeek_5':'int', 'DayOfWeek_6':'int', 'DayOfWeek_7':'int'})

pd.options.display.max_columns = None
data

C:\Users\11\AppData\Local\Temp\ipykernel_17836\3500487450.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  past_sales = pd.read_csv('C:/Users/11/Desktop/rossmann.csv')

,Sales,Customers,CompetitionDistance,Month,Day,Open,Promo,SchoolHoliday,Promo2,StateHoliday_a,StateHoliday_b,StateHoliday_c,StateHoliday_d,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c,DayOfWeek_1,DayOfWeek_2,DayOfWeek_3,DayOfWeek_4,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7
0,-0.133481,-0.169168,-0.539198,0.346614,1.740763,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0
1,-0.196581,-0.188537,-0.539198,0.346614,1.626967,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0
2,-0.258383,-0.238037,-0.539198,0.346614,1.513171,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0
3,-0.198918,-0.158407,-0.539198,0.346614,1.399374,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0
4,0.084382,-0.046494,-0.539198,0.346614,1.285578,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014562,-0.261239,-0.634036,-0.010380,-1.457264,-1.217938,1,0,1,1,False,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0
1014563,-0.321223,-0.662014,-0.010380,-1.457264,-1.331734,1,0,1,1,False,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0
1014564,-0.384323,-0.717970,-0.010380,-1.457264,-1.445531,1,0,1,1,False,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0
1014565,-0.540124,-0.707209,-0.010380,-1.457264,-1.559327,1,0,1,1,False,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0
1014566,-1.500124,-1.363620,-0.010380,-1.457264,-1.673123,0,0,1,1,True,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0

In [10]:
target_col = 'Sales'
features_cols = data.columns.drop(target_col)        
features = data[features_cols]
target = data[target_col]
target = pd.DataFrame(target.values.reshape(-1,1))
features = features.values
target = target.values

In [11]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.4, shuffle=True)
x_test,x_valid,y_test,y_valid = train_test_split(x_test, y_test, test_size=0.5, shuffle=False)

In [12]:
x_train = x_train.astype(np.float32)
x_test = x_test.astype(np.float32)
x_valid = x_valid.astype(np.float32)
y_train = y_train.astype(np.float32)
y_test = y_test.astype(np.float32)
y_valid = y_valid.astype(np.float32)
print('train_data의 row : %s, column : %s'%(x_train.shape[0],x_train.shape[1]))
print('test_data의 row : %s, column : %s'%(x_test.shape[0],x_test.shape[1]))
print('val_data의 row : %s, column : %s'%(x_valid.shape[0],x_valid.shape[1]))
data

train_data의 row : 608740, column : 26
test_data의 row : 202913, column : 26
val_data의 row : 202914, column : 26

,Sales,Customers,CompetitionDistance,Month,Day,Open,Promo,SchoolHoliday,Promo2,StateHoliday_a,StateHoliday_b,StateHoliday_c,StateHoliday_d,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c,DayOfWeek_1,DayOfWeek_2,DayOfWeek_3,DayOfWeek_4,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7
0,-0.133481,-0.169168,-0.539198,0.346614,1.740763,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0
1,-0.196581,-0.188537,-0.539198,0.346614,1.626967,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0
2,-0.258383,-0.238037,-0.539198,0.346614,1.513171,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0
3,-0.198918,-0.158407,-0.539198,0.346614,1.399374,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0
4,0.084382,-0.046494,-0.539198,0.346614,1.285578,1,1,1,0,False,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014562,-0.261239,-0.634036,-0.010380,-1.457264,-1.217938,1,0,1,1,False,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0
1014563,-0.321223,-0.662014,-0.010380,-1.457264,-1.331734,1,0,1,1,False,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0
1014564,-0.384323,-0.717970,-0.010380,-1.457264,-1.445531,1,0,1,1,False,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0
1014565,-0.540124,-0.707209,-0.010380,-1.457264,-1.559327,1,0,1,1,False,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0
1014566,-1.500124,-1.363620,-0.010380,-1.457264,-1.673123,0,0,1,1,True,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0

In [13]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(256,input_dim = x_train.shape[1],activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.BatchNormalization())

model.add(tf.keras.layers.Dense(256,activation = 'relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.BatchNormalization())

model.add(tf.keras.layers.Dense(256,activation = 'relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.BatchNormalization())

model.add(tf.keras.layers.Dense(128,activation = 'relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.BatchNormalization())

model.add(tf.keras.layers.Dense(1))

model.compile(optimizer='adam',
             loss='mse',
             metrics=['mean_absolute_error'])

model_path = 'C:/project/rossmann-store-sales'
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=model_path , monitor='val_mean_absolute_error', verbose=1, save_best_only=True)
# early_stopping = EarlyStopping(monitor='val_loss', patience=6)

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               6912

 dropout (Dropout)           (None, 256)               0

 batch_normalization (Batch  (None, 256)               1024
 Normalization)

 dense_1 (Dense)             (None, 256)               65792

 dropout_1 (Dropout)         (None, 256)               0

 batch_normalization_1 (Bat  (None, 256)               1024
 chNormalization)

 dense_2 (Dense)             (None, 256)               65792

 dropout_2 (Dropout)         (None, 256)               0

 batch_normalization_2 (Bat  (None, 256)               1024
 chNormalization)

 dense_3 (Dense)             (None, 128)               32896

 dropout_3 (Dropout)         (None, 128)               0

 batch_normalization_3 (Bat  (None, 128)               512
 chNormalization)

 dense_4 (Dense)             (None, 1)                 129

=================================================================
Total params: 175105 (684.00 KB)
Trainable params: 173313 (677.00 KB)
Non-trainable params: 1792 (7.00 KB)
_________________________________________________________________

In [14]:
early_stopping = EarlyStopping()

start = datetime.datetime.now()

history = model.fit(x_train, y_train,
                    validation_data=(x_valid, y_valid),
                    batch_size=64,
                    epochs=25,
)

end = datetime.datetime.now()
time = end-start
print("처리시간 : ", time)

Epoch 1/25
9512/9512 [==============================] - 38s 4ms/step - loss: 0.1341 - mean_absolute_error: 0.2592 - val_loss: 0.1728 - val_mean_absolute_error: 0.2118
Epoch 2/25
9512/9512 [==============================] - 36s 4ms/step - loss: 0.0959 - mean_absolute_error: 0.2264 - val_loss: 0.1428 - val_mean_absolute_error: 0.1874
Epoch 3/25
6859/9512 [====================>.........] - ETA: 9s - loss: 0.0913 - mean_absolute_error: 0.2211