In [11]:
import numpy as np
import pandas as pd
book = pd.read_csv("C:/Users/11/Desktop/NaverFinance.csv")
book.isnull().sum()

Unnamed: 0       0
종목명              0
현재가              0
전일비              0
등락률              0
액면가              0
거래량              0
거래대금             0
전일거래량            0
시가               0
고가               0
저가               0
매수호가             0
매도호가             0
매수총잔량            0
매도총잔량            0
상장주식수            0
시가총액             0
매출액           1298
자산총계          1294
부채총계          1294
영업이익          1294
당기순이익         1294
주당순이익         1181
보통주배당금        1984
매출액증가율        1445
영업이익증가율       1418
외국인비율            0
PER           1182
ROE           1419
ROA           1419
PBR           1162
유보율           1294
dtype: int64

In [12]:
#null 제거
book = book.dropna(how='any')

book

,Unnamed: 0,종목명,현재가,전일비,등락률,액면가,거래량,거래대금,전일거래량,시가,...,주당순이익,보통주배당금,매출액증가율,영업이익증가율,외국인비율,PER,ROE,ROA,PBR,유보율
0,0,삼성전자,"71,000",500,+0.71%,100,"12,330,251","874,607","11,688,599","71,100",...,"5,240","1,444",8.09,-15.99,53.29,13.55,17.07,12.72,1.38,"38,144.3"
2,2,SK하이닉스,"119,700","3,000",+2.57%,"5,000","2,904,321","345,843","2,749,688","117,900",...,"-11,253","1,200",3.78,-45.13,52.26,-10.64,3.56,2.24,1.43,"1,668.3"
5,5,POSCO홀딩스,"532,000","14,000",-2.56%,"5,000","919,880","495,685","1,333,031","539,000",...,"14,836","12,000",11.03,-47.50,28.76,35.86,6.11,3.75,0.74,"11,269.8"
6,6,현대차,"189,500","3,300",+1.77%,"5,000","465,494","88,051","273,908","187,300",...,"34,525","7,000",21.19,47.03,33.41,5.49,9.36,3.26,0.56,"5,654.5"
7,7,LG화학,"542,000","17,000",-3.04%,"5,000","193,884","105,823","132,378","552,000",...,"19,122","10,000",21.75,-40.40,45.47,28.34,6.95,3.69,1.32,"7,846.5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3676,3676,누리플랜,"3,040",30,+1.00%,500,"106,237",318,"325,288","3,005",...,"-2,260",0,-1.24,-265.09,0.51,-1.35,-29.87,-6.12,1.04,633.4
3678,3678,헝셩그룹,244,1,+0.41%,0,"803,618",196,"1,210,780",246,...,-83,0,8.01,46.60,21.21,-2.94,-0.63,-0.53,0.07,300.6
3681,3681,KD,695,5,-0.71%,500,"134,534",94,"257,249",698,...,221,0,419.27,79.00,0.76,3.14,-7.56,-1.15,0.45,174.8
3691,3691,에스디생명공학,349,0,0.00%,500,0,0,0,0,...,"-1,594",0,-24.87,-9.11,6.25,-0.22,-139.77,-40.25,1.02,52.3
3729,3729,아리온,275,0,0.00%,500,0,0,0,0,...,"-18,072",0,-75.20,-623.83,2.96,-0.02,-586.75,-51.52,-0.03,"-1,490.2"