In [425]:
import numpy as np
import pandas as pd
book = pd.read_csv("C:/Users/11/Desktop/NaverFinance.csv")
book.isnull().sum()

Unnamed: 0       0
종목명              0
현재가              0
전일비              0
등락률              0
액면가              0
거래량              0
거래대금             0
전일거래량            0
시가               0
고가               0
저가               0
매수호가             0
매도호가             0
매수총잔량            0
매도총잔량            0
상장주식수            0
시가총액             0
매출액           1298
자산총계          1294
부채총계          1294
영업이익          1294
당기순이익         1294
주당순이익         1181
보통주배당금        1984
매출액증가율        1445
영업이익증가율       1418
외국인비율            0
PER           1182
ROE           1419
ROA           1419
PBR           1162
유보율           1294
dtype: int64

In [426]:
book = book.dropna(how='any').reset_index(drop=True)

selected_rows = pd.DataFrame(columns=book.columns)

book['PER'] = book['PER'].replace(',', '', regex=True)
book['PER'] = pd.to_numeric(book['PER'])

# 조건을 데이터프레임에 적용
condition = (book['PBR'] <= 2) & (book['시가총액'].str.replace(',', '', regex=True).astype(int) >= 1000) & (book['PER'] >= 1)
selected_rows = book[condition]

sorted_selected_rows = selected_rows.sort_values(by='PBR', ascending=False)
bluechip = sorted_selected_rows.head(100)
bluechip

,Unnamed: 0,종목명,현재가,전일비,등락률,액면가,거래량,거래대금,전일거래량,시가,...,주당순이익,보통주배당금,매출액증가율,영업이익증가율,외국인비율,PER,ROE,ROA,PBR,유보율
868,2367,노바텍,"28,400",900,-3.07%,500,"55,776","1,598","48,102","29,100",...,"2,149",200,22.09,-19.66,2.37,13.22,13.51,10.01,2.00,"2,470.1"
745,2202,피에스케이홀딩스,"28,200","1,250",-4.24%,500,"581,383","16,512","702,582","29,950",...,"2,056",500,-10.82,-25.30,0.11,13.72,15.27,12.85,2.00,"2,696.8"
23,26,카카오뱅크,"24,550",100,-0.41%,"5,000","400,197","9,858","632,627","24,600",...,678,80,50.79,37.46,15.30,36.21,4.68,0.70,1.99,139.8
1141,2772,제이아이테크,"3,890",80,-2.02%,100,"188,096",731,"179,620","3,925",...,406,0,233.13,102.43,0.13,9.58,25.55,18.12,1.98,"7,403.9"
1099,2713,미스터블루,"1,910",27,-1.39%,100,"231,390",443,"365,796","1,922",...,42,10,25.55,9.94,1.36,45.48,4.68,2.89,1.98,808.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,2668,오션브릿지,"15,480",310,-1.96%,500,"59,831",923,"61,075","15,790",...,"2,127",420,75.61,42.25,4.00,7.28,16.15,12.48,1.46,"1,903.5"
383,580,JW생명과학,"13,750",180,-1.29%,"2,500","16,861",232,"17,961","13,830",...,"1,309",500,11.26,-4.67,3.92,10.50,11.01,6.33,1.46,271.5
879,2385,토비스,"17,510",540,-2.99%,500,"117,177","2,063","118,865","17,900",...,201,100,24.61,899.20,7.94,87.11,-2.72,-1.29,1.46,"2,146.3"
6,9,NAVER,"219,500",0,0.00%,100,"587,356","128,262","1,284,472","220,000",...,"4,441",914,20.57,-1.57,47.05,49.43,3.29,1.99,1.46,"152,913.2"
1182,2835,흥구석유,"7,810",300,+3.99%,100,"20,165,786","170,027","22,629,532","8,260",...,120,150,10.97,"4,820.58",0.15,65.08,3.34,3.01,1.46,"5,284.6"

In [427]:
bluechip.loc[:, '등락률'] = bluechip['등락률'].str.replace('%', '', regex=True)
bluechip.loc[:, '등락률'] = bluechip[~bluechip['등락률'].str.startswith('-')]
bluechip.loc[:, '등락률'] = pd.to_numeric(bluechip['등락률'])
bluechip = bluechip.dropna(how='any').reset_index (drop=True)

bluechip['고가'] = bluechip['고가'].str.replace(',', '', regex=True)
bluechip['고가'] = bluechip['고가'].astype(int)

condition1 = (bluechip['거래량']>=(bluechip['상장주식수']*10))
condition2 = (bluechip['등락률'] >= 0)
condition3 = (bluechip['현재가'] > bluechip['시가'])
selected_stocks = bluechip[condition1 & condition2 & condition3]

selected_stocks = selected_stocks.nlargest(10, '고가')
print(selected_stocks['종목명'])

7      LIG넥스원
4         코미코
6        티에스이
11        휴온스
23        뷰웍스
19       제일기획
5        영화테크
16         희림
18    NHN KCP
1        엠투아이
Name: 종목명, dtype: object