In [260]:
import numpy as np
import pandas as pd
book = pd.read_csv("C:/Users/11/Desktop/NaverFinance.csv")

book.drop(labels=["액면가","거래대금",'매수호가','매도호가','외국인비율'], axis=1, inplace=True)
book = book.dropna(subset=['시가총액', '매출액', 'PER', 'PBR'],axis=0)


book['PER'] = book['PER'].str.replace(',', '').astype(float)
book['PBR'] = book['PBR'].astype(float)
book['시가총액'] = book['시가총액'].str.replace(',', '').astype(int)
book['매출액'] = book['매출액'].str.replace(',', '').astype(float)
book = book[(book['PBR']<=2)&(book['시가총액']>=1000)&(book['매출액']>=1)&(book['PER']>=0)]
book['PBR'] = 1 / book['PBR']
book = book.sort_values(by='PBR',ascending=False)

book = book.head(100)

book['등락률'] = book['등락률'].str.replace('%','').astype(float)
book['고가'] = book['고가'].str.replace(',','').astype(int)
book['현재가'] = book['현재가'].str.replace(',','').astype(int)
book['시가'] = book['시가'].str.replace(',','').astype(int)
book['상장주식수'] = book['상장주식수'].str.replace(',','').astype(int)
book['거래량'] = book['거래량'].str.replace(',','').astype(int)

book = book[(book['거래량']>=(book['상장주식수']*10))&(book['등락률']>=0)& (book['현재가']>book['시가'])]
book

,Unnamed: 0,종목명,현재가,전일비,등락률,거래량,전일거래량,시가,고가,저가,...,당기순이익,주당순이익,보통주배당금,매출액증가율,영업이익증가율,PER,ROE,ROA,PBR,유보율
693,693,노루홀딩스,12240,"1,140",10.27,1235577,"24,482",11370,13250,"11,370",...,334,"1,978",500,8.66,12.44,6.19,6.56,3.0,3.125,"4,726.8"