In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = sns.load_dataset("mpg")
df.shape #행과 열 확인

(398, 9)

In [11]:
#df.info()
#df.isnull.sum()) usnull로 결측치 확인 sum으로 전체 합
#df.isnull().mean() 결측치 비율확인 *100시 퍼센트로 확인
#df.describe() 수치통계로 기술통계 확인
df.describe(include="object")

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6