In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = sns.load_dataset("mpg")
df.shape

(398, 9)

In [7]:
origin_desc = df.groupby("origin")["mpg"].describe() #기술통계값 구하기
origin_desc

        count       mean       std   min   25%   50%    75%   max
origin
europe   70.0  27.891429  6.723930  16.2  24.0  26.5  30.65  44.3
japan    79.0  30.450633  6.090048  18.0  25.7  31.6  34.05  46.6
usa     249.0  20.083534  6.402892   9.0  15.0  18.5  24.00  39.0

In [10]:
europe = origin_desc.loc["europe"] #박스플롯 이해하기
europe

count    70.000000
mean     27.891429
std       6.723930
min      16.200000
25%      24.000000
50%      26.500000
75%      30.650000
max      44.300000
Name: europe, dtype: float64

In [13]:
Q3 = europe["75%"] #이렇게 불러오기 가능
Q3

30.65

In [15]:
Q3 = europe["75%"]
Q1 = europe["25%"]
IQR = Q3 - Q1
OUT_MAX = Q3 + (1.5 * IQR)
OUT_MIN = Q1 - (1.5 * IQR)
OUT_MAX, OUT_MIN

(40.625, 14.025000000000002)