In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [21]:
df = sns.load_dataset("mpg")

In [22]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [23]:
df.dropna() #dropna로 결측치 제거
df.shape

(398, 9)

In [24]:
df = df.select_dtypes(exclude="object") #object타입을 제외하고 가져옴

In [25]:
df.describe(include="all")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [26]:
train_dataset = df.sample(frac=0.8,random_state=42)
train_dataset.shape

(318, 7)

In [27]:
test_dataset = df.drop(train_dataset.index)
test_dataset

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
1,15.0,8,350.0,165.0,3693,11.5,70
13,14.0,8,455.0,225.0,3086,10.0,70
20,25.0,4,110.0,87.0,2672,17.5,70
21,24.0,4,107.0,90.0,2430,14.5,70
34,16.0,6,225.0,105.0,3439,15.5,71
...,...,...,...,...,...,...,...
381,36.0,4,107.0,75.0,2205,14.5,82
388,26.0,4,156.0,92.0,2585,14.5,82
391,36.0,4,135.0,84.0,2370,13.0,82
395,32.0,4,135.0,84.0,2295,11.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [28]:
train_labels = train_dataset.pop("mpg")
train_labels.shape

(318,)

In [29]:
test_labels = test_dataset.pop("mpg")
test_labels

1      15.0
13     14.0
20     25.0
21     24.0
34     16.0
       ...
381    36.0
388    26.0
391    36.0
395    32.0
397    31.0
Name: mpg, Length: 80, dtype: float64

In [30]:
train_dataset.shape, test_dataset.shape

((318, 6), (80, 6))

In [31]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(64, input_shape=[len(train_dataset.keys())]))
model.add(tf.keras.layers.Dense(64))
model.add(tf.keras.layers.Dense(64))
model.add(tf.keras.layers.Dense(1))

In [32]:
model.compile(loss="mse",metrics=["mae","mse"])

In [33]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                448

 dense_7 (Dense)             (None, 64)                4160

 dense_8 (Dense)             (None, 64)                4160

 dense_9 (Dense)             (None, 1)                 65

=================================================================
Total params: 8,833
Trainable params: 8,833
Non-trainable params: 0
_________________________________________________________________